:root {
  --bg1-color: #65ccb8;
  --bg2-color: #3b945e;
  --bg3-color: #182628;
  --txt1-color: #F2F2F2;
  --font-family: 'Lato', sans-serif;
}
.navbar-style {
  background-color: var(--bg3color);
  font-family: var(--font-family);
}