.movie-poster {
  width: 100%;
  margin: 10px auto;
}

.movie-view {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);;
  border-radius: .25rem;
  padding: 10px;
  text-align: justify;
}
.centered {
  text-align: center;
}

.label {
  font-weight: bold;
}